table{
    overflow: hidden;
    width: 100%;
    height: auto;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 0 1px 1px #ddd;
    font-size: 1em;
    white-space: nowrap;
}
table thead{
    width: auto;
    background: #ddd;
    text-align: left;
}
table tbody{
    width: auto;
    background: #fff;
    font-size: .8em;
}
table tr{
    border: none;
    border-bottom: 1px #ddd solid;
}
table tr:last-child{
    border-bottom: 0;
}
table tr > *{
    border: none;
}
table th,
table td{
    padding: 5px 10px;
}